.grid-container {
  background-color: rgb(125, 0, 175);
  display: grid;
  grid-template-columns: 15vw 15vw 15vw 15vw 15vw;
  justify-content: space-evenly;
  padding: calc(10px + 0.5vw);
  width: 95vw;
  vertical-align: middle;
}

.grid-center {
  align-content: center;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(200, 200, 200);
  padding: 1vw;
  background-color: red;
  font-size: calc(12px + 0.5vw);
  text-align: center;
  margin: calc(10px + 0.25vw);
  vertical-align: middle;
}

.grid-item {
  align-content: center;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(200, 200, 200);
  padding: 1vw;
  background-color: rgb(50, 50, 50);
  font-size: calc(10px + 0.5vw);
  margin: calc(10px + 0.25vw);
  text-align: center;
  vertical-align: middle;
}
